<div class="container box-login">
        <div class="row">
            <div class="col-sm-9  mx-auto">
                <div class="card card-signin my-5">
                    <div class="card-body">
                        <h5 class="card-title text-center">Evento Cadastrado com Sucesso! </h5>
                        
                    </div>            
                </div>
            </div>   
        </div>
       
        
</div>