<!--<div class="container">
  
    
   
    <form action='' method="POST">
        <h3>Qual evento você está procurando?</h3><br />
        <div class="form-row">
        <div class="col">
            <input type="text" class="form-control" placeholder="Pesquisar por nome do evento">
        </div>
        <div class="col">
            <input type="date" class="form-control" placeholder="Pesquisar por data">
        </div>
        <div class="col">
            <button type="submit" class="form-control btn btn-dark" >Procurar</button>
        </div>
        </div>
    </form>
-->
    
</div>

<section class="home-slider owl-carousel">
 
   
      <div class="slider-item" style="background-image: url(images/bg_1.jpg);">
        <div class="overlay"></div>
        <div class="container-fluid">
          <div class="row slider-text align-items-center" data-scrollax-parent="true">

            <div class="col-md-5 wrap col-sm-12 ftco-animate" data-scrollax=" properties: { translateY: '70%' }">
              <h1 class="mb-4 mt-5" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }">Busque qual vai ser o seu próximo evento!</h1>
              <p class="mb-4 mb-md-5 sub-p" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }"><!--Uma forma facilitada de encotrar eventos--></p>
              <p><a href="/buscarEvento" class="btn btn-primary btn-primary-2 p-3 px-xl-5 py-xl-3">Procurar</a></p>
            </div>
            <div class="col-md-7 ftco-animate">
            	<img src="images/vetor.png" class="img-fluid" alt="">
            </div>

          </div>
        </div>
      </div>

      <div class="slider-item" style="background-image: url(images/bg_2.jpg);">
        <div class="overlay"></div>
        <div class="container-fluid">
          <div class="row slider-text align-items-center" data-scrollax-parent="true">

            <div class="col-md-5 wrap col-sm-12 ftco-animate" data-scrollax=" properties: { translateY: '70%' }">
              <h1 class="mb-4 mt-5" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }">Divulgue seu evento e alcance um maior número de público! </h1>
              <p class="mb-4 mb-md-5"><!--Um jeito simplificado para difivular seu evento! --></p>
             <a href="/addEvento" class="btn btn-primary btn-primary-2 p-3 px-xl-5 py-xl-3">Divulgar</a></p>
            </div>
            <div class="col-md-7 ftco-animate">
            	<img src="images/vetor2.png" class="img-fluid" alt="">
            </div>

          </div>
        </div>
      </div>
</section>